---
import BaseLayout from '@/layouts/Default.astro'
import Container from '@/components/Container/Container.astro'
import BaseHead from '@/components/Head/Head.astro'
---

<head>
  <BaseHead
    title="Blog List"
    description="Listagem de posts do blog"
  />
</head>
<BaseLayout>
  <article>
    <Container>
      <h1>Blog</h1>
    </Container>
  </article>
</BaseLayout>
