---
import BaseLayout from '@/layouts/Default.astro'
import Container from '@/components/Container/Container.astro'
import BaseHead from '@/components/Head/Head.astro'
---

<head>
  <BaseHead title="About" description="Sobre o projeto" />
</head>
<BaseLayout>
  <article>
    <Container>
      <h1>Sobre</h1>
    </Container>
  </article>
</BaseLayout>
