---
import styled from './styles.module.scss'

import Link from './links.astro'
import MenuButton from './menuButton.astro'

const menuItems = [
  {
    name: 'Home',
    path: '/'
  },
  {
    name: 'Blog',
    path: '/blog'
  },
  {
    name: 'About',
    path: '/about'
  }
]
---

<div class={styled['nav-contaienr']}>
  <div id="menu-item" class={styled['nav-items']}>
    {
      menuItems.map((menu) => (
        <Link href={menu.path} class={styled['nav-item']}>
          {menu.name}
        </Link>
      ))
    }
  </div>

  <button id="toggle-theme" class={styled['theme-button']}></button>

  <MenuButton />

  <script is:inline>
    document
      .getElementById('toggle-theme')
      .addEventListener('click', () => {
        const toogle = theme.getTheme() === 'dark' ? 'light' : 'dark'

        theme.setTheme(toogle)
      })
  </script>
</div>

<script>
  document.addEventListener('menu-opened', (evt) => {
    const customEvt = evt as CustomEvent
    const { menuIsOpen } = customEvt.detail
    const nav = document.getElementById('menu-item') as HTMLElement

    nav.setAttribute('data-menu-open', menuIsOpen)
  })
</script>

<script>
  const updateIcon = () => {
    const theme = window.theme.getTheme()
    const icon = document.getElementById(
      'button-icon-theme'
    ) as HTMLImageElement

    icon.src =
      theme === 'dark'
        ? `src/assets/svg/dark_mode.svg`
        : `src/assets/svg/light_mode.svg`
  }

  document.addEventListener('theme-changed', () => {
    updateIcon()
  })

  document.addEventListener('DOMContentLoaded', () => {
    const button = document.getElementById('toggle-theme')
    const icon = document.createElement('img')
    icon.id = 'button-icon-theme'
    icon.alt = 'Icone representando troca de temas'

    if (button) {
      button.appendChild(icon)
      updateIcon()
    }
  })
</script>
