---
import styled from './menuStyles.module.scss'
---

<button
  type="button"
  class={styled['menu-mobile']}
  title="Botão menu"
  id="menu-mobile-button"
>
  <span></span>
  <span></span>
  <span></span>
</button>

<script is:inline>
  ;(() => {
    const menuButton = document.getElementById('menu-mobile-button')
    let menuIsOpen = false

    menuButton?.addEventListener('click', () => {
      menuIsOpen = !menuIsOpen
      const event = new CustomEvent('menu-opened', {
        detail: {
          menuIsOpen
        }
      })
      document.dispatchEvent(event)
      menuButton.setAttribute('data-menu-open', menuIsOpen)
    })
  })()
</script>
