---
import styled from './menuStyles.module.scss'
---

<button
  type="button"
  class={styled['menu-mobile']}
  title="Botão menu"
  id="menu-mobile-button"
  transition:persist
>
  <span></span>
  <span></span>
  <span></span>
</button>

<script is:inline>
  let menuIsOpen = false
  const menuButton = document.getElementById('menu-mobile-button')

  ;(() => {
    menuButton?.addEventListener('click', () => {
      menuIsOpen = !menuIsOpen
      const event = new CustomEvent('menu-opened', {
        detail: {
          menuIsOpen
        }
      })
      document.dispatchEvent(event)
      menuButton.setAttribute('data-menu-open', menuIsOpen)
    })
  })()

  document.addEventListener('astro:before-swap', () => {
    menuIsOpen = false
    menuButton.setAttribute('data-menu-open', false)
  })
</script>
